body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
}

.container2 {
  background-color: pink;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.box1 {
  width: 50%;
  height: calc(100%/3);
  background-color: red;
}

.box2 {
  width: 50%;
  height: calc(100%/3);
  background-color: blue;
}

.box3 {
  width: 50%;
  height: calc(100%/3);
  background-color: yellow;
}

.box4 {
  width: 50%;
  height: calc(100%/3);
  background-color: orange;
}

.box5 {
  width: 50%;
  height: calc(100%/3);
  background-color: green;
}

.box6 {
  width: 50%;
  height: calc(100%/3);
  background-color: purple;
}
