body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  .
}

.container1 {
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
}

.container2 {
  
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
   
    background-position: center; 
   background-size:cover;
}

.box1 {
  width: 50%;
  height: calc(100%/3);
 
   background-position: center; 
   background-size:cover;
}

.box2 {
  width: 50%;
  height: calc(100%/3);
 
   background-position: center; 
   background-size:cover;
}

.box3 {
  width: 50%;
  height: calc(100%/3);
 
  background-position: center; 
  background-size:cover;\

}

.box4 {
  width: 50%;
  height: calc(100%/3);

   background-position: center; 
   background-size:cover;
}

.box5 {
  width: 50%;
  height: calc(100%/3);
    background-image:url("https://res.cloudinary.com/teepublic/image/private/s--xYeeaUTA--/t_Preview/b_rgb:262c3a,c_limit,f_jpg,h_630,q_90,w_630/v1494921699/production/designs/1605212_1.jpg");
	   background-position: center; 
   background-size:cover;
}

.box6 {
  width: 50%;
  height: calc(100%/3);
     background-image:url("https://res.cloudinary.com/teepublic/image/private/s--nzUioVg0--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1493182926/production/designs/1523397_1.jpg");
  background-position: center; 
   background-size:cover;
}

.hog {content:url(hog.PNG);}
.hog2 {content:url(hog2.PNG);}


.diva1 {content:url(Diva1.jpg);}

.diva2 {content:url(Diva2.png);}

.W1{content:url(W1.png);}
.Winston1 {content:url(Winston1.jpg);}

.r2{content:url(r2.png);}
.r1 {content:url(r1.png);}

.Z2{content:url(Z2.png);}
.Z1 {content:url(Z1.jpg);}

.O2{content:url(O2.jpg);}
.O1 {content:url(O1.jpg);}

.tanks {content:url(ov2.png);}

@media only screen and (max-width: 899px) {
 
 .container1 {
    width: 100%;
    height: 50%;
  }

  .container2 {
    width: 100%;
    height: 50%;
	
  }

}
